* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: url('https://images.51rz.com/images/pc/zhongfen/BG.png');
    
}

ul,li {
    list-style-type: none;
}

.clear {
    clear: both;
}

.fensSayList{
    display:none !important;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.head {
    width: 100%;
    height: 1.39rem;
    background: #fff;
}

.main {
    width: 100%;
    text-align:center;
}

.header {
    width: 12rem;
    height: 1.31rem;
    display: block;
    margin: 0 auto;
}

.head-top {
    width: 100%;
    height: 0.5rem;
    border-bottom: 1px solid #f8f8f8;
    position: relative;
}

.head-nav {
    width: 100%;
    height: 0.8rem;
    position: relative;
}

.head-top-left {
    width: 4.33rem;
    height: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.head-top-right {
    width: 2.86rem;
    height: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.head-nav-left {
    width: 3.96rem;
    height: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
}

.head-nav-right {
    width: 5.2rem;
    height: 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
}

.head-top-left-tel {
    display: block;
    width: 0.19rem;
    height: 0.19rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0.1rem;
    margin-top: 0.15rem;
    background-image: url(https://images.51rz.com/images/rebuild/pc/img/tel.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head-top-left p {
    width: 3.01rem;
    font-size: 0.12rem;
    line-height: 0.5rem;
    color: #999;
    position: absolute;
    left: 0.32rem;
}

.head-top-left p a {
    font-size: 0.14rem;
    color: #d7a55e;
    margin: 0 0.05rem;
}

.head-top-left span {
    width: 1px;
    height: 15px;
    background: #e8e8e8;
    position: absolute;
    top: 0;
    left: 3.15rem;
    display: block;
    margin: 0.18rem 0.06rem 0;
}

.head-top-left-download {
    width: 0.69rem;
    position: absolute;
    left: 3.3rem;
}

.head-top-left-download p {
    width: 0.58rem;
    font-size: 0.12rem;
    line-height: 0.5rem;
    color: #999;
    position: absolute;
    left: 0;
}

.head-top-left-phone {
    width: 12px;
    height: 22px;
    position: absolute;
    left: 0.43rem;
    margin-left: 0.1rem;
    margin-top: 0.13rem;
    background-image: url(https://images.51rz.com/images/rebuild/pc/img/phone.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head-top-right-login {
    height: 0.5rem;
    line-height: 0.5rem;
    float: left;
    padding-top: 1px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.head-top-right-login div {
    float: left;
}

.head-top-right-login div a {
    line-height: 0.5rem;
    float: right;
    display: block;
    font-size: 0.12rem;
    color: #4992ec;
}

.head-top-right-login span {
    width: 1px;
    height: 15px;
    background: #e8e8e8;
    float: left;
    display: block;
    margin: 0.18rem 0.06rem 0;
}

.head-top-right div {
    /* float: left; */
    display: flex;
}

.head-top-right a {
    line-height: 0.5rem;
    font-size: 0.12rem;
    color: #999;
    text-decoration: none;
}

.head-top-right div span {
    width: 1px;
    height: 15px;
    background: #e8e8e8;
    float: left;
    display: block;
    margin: 0.18rem 0.06rem 0;
}

.leftLogo {
    width: 3.8rem;
    height: 0.5rem;
    float: left;
    display: block;
    background-image: url(https://images.51rz.com/images/rebuild/pc/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0;
    position: relative;
    top: 0.18rem;
}

.logoText {
    position: absolute;
    top: 0.55rem;
    left: 0.05rem;
    margin: -57px 0 0 1.55rem;
}

.navItem {
    height: 100%;
    font-size: 0.16rem;
    line-height: 0.86rem;
    color: #232323;
    float: left;
    margin-right: 0.26rem;
    padding: 0 0.1rem;
    /* border-bottom: 2px solid #fff; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.fensSayTitle {
    width: 100%;
    height: 3.8rem;
    display: block;
    margin: 0 auto;
    background: url('https://images.51rz.com/images/pc/zhongfen/banner-top.png') no-repeat center top;
    background-size:cover;
    position: relative;
}

.intoUser {
    width: 0.85rem;
    height: 0.26rem;
    background: #dc4b4e;
    top: 0;
    left: 0;
    position: absolute;
    margin:2.13rem 4.03rem 1.41rem 1.78rem;
}

.intoUser p {
    width: 0.72rem;
    height:0.17rem;
    font-family: PingFang-SC-Medium, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.18rem;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin: auto;
}

.listenUser {
    width: 2.26rem;
    height: 0.26rem;
    position: absolute;
    margin: 2.13rem 1.77rem 1.41rem 2.67rem;
    top: 0;
    left: 0;
    background: #fcf1ec;
}

.listenUser p {
    width: 2.16rem;
    height: 0.17rem;
    font-family: PingFang-SC-Regular, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.18rem;
    color: rgba(33, 33, 33, 255);
    text-align: center;
    margin: auto;
}

.fensSayListPc {
    width: 9.06rem;
    height: 0.88rem;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.24rem;
    color: rgba(121, 90, 74, 255);
    text-align: center;
    display: inline-block;
    position:relative;
}

.fensSayListPc p{
    width:1.8rem;
    height:0.88rem;
    margin-right:1.65rem;
    display:inline-block;
    border-top:1px solid #c19e8c;
    border-bottom:1px solid #c19e8c;
    cursor:pointer;
}

.fensSayListPc p:last-child{
    margin-right:0;
}
.fensSayListPc p span{
    width:100%;
    display:block;
}
.fensSayListPc p span:first-child{
    margin-top:0.12rem;
}
.act{
    background: rgba(244,232,215,0.4);
    border-top:1px solid #7a5a49 !important;
    border-bottom:1px solid #7a5a49 !important;
}

.act:before{
    content:'';
    width:0.21rem;
    height:0.11rem;
    background:url('https://images.51rz.com/images/pc/zhongfen/jt.png') no-repeat;
    position:absolute;
    left:10%;
    top:0.87rem;
    background-size: 100% 100%;
}

.fensSayList {
    width: 10.53rem;
    height: 0.99rem;
    margin: 0.26rem auto 0;
    position: relative;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.24rem;
    color: rgba(121, 90, 74, 255);
    text-align: center;
    display: inline-block;
}

.fensSayListItem_active {
    width: 1.8rem;
    height: 0.88rem;
    border-top: 1px solid #795a4a;
    border-bottom: 1px solid #795a4a;
    background: rgba(244,232,215,0.4);
    position: absolute;
    top: 0;
    left: 1.46rem;
}

.fensSayListItem_active:before{
    content:'';
    width:0.21rem;
    height:0.11rem;
    background:url('https://images.51rz.com/images/pc/zhongfen/jt.png') no-repeat;
    position:absolute;
    left:44%;
    top:0.86rem;
}

.fensSayListItem {
    width: 1.8rem;
    height: 0.88rem;
    border-top: 1px solid #795a4a;
    border-bottom: 1px solid #795a4a;
    opacity: 0.6;
    /* background: #f9f1e0; */
    position: absolute;
    left: 4.42rem;
}

.fensSayListItemMore {
    width: 1.8rem;
    height: 0.88rem;
    border-top: 1px solid #795a4a;
    border-bottom: 1px solid #795a4a;
    opacity: 0.6;
    /* background: #f9f1e0; */
    position: absolute;
    right: 1.46rem;
}

.itemTop {
    width: 1.2rem;
    margin: 0.1rem 0.3rem 0.48rem;
    position: absolute;
    top: 0;
    left: 0;
}

.itemBottom {
    width:1.08rem;
    margin: 0.43rem 0.36rem 0.13rem;
    position: absolute;
    top: 0;
    left: 0;
}

.fensVoice {
    width: 11.71rem;
    height: 5.4rem;
    display: block;
    margin: 1rem auto 0.55rem;
    position: relative;
}

.voiceTv {
    width:7.72rem;
    height: 5.02rem;
    background: url(https://images.51rz.com/images/pc/zhongfen/pc.png);
    background-repeat: no-repeat;
    background-position: 0;
    position: relative;
}

/* #my-video{
    border-image: url('./img/1.png') 30 round
} */

/* .tv {
    width: 5.07rem;
    height: 3.67rem;
    background: #fff;
    position: absolute;
    top: 0.6rem;
    left: 0.62rem;
    border-radius: 0.7rem;
} */
.voiceCircle{
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    border: 2px solid #dc4b4e;
    position: absolute;
    right: 0.33rem;
    top: 2.36rem;
}
.voiceText {
    width: 1.76rem;
    height: 2.43rem;
    margin: 0 0.35rem 1.24rem 1.52rem;
    position: absolute;
    top: 0;
    right: 0;
}

.fensVoiceTextPc {
    width: 0.56rem;
    height: 2.52rem;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    position: absolute;
    right: 0;
    top: 0;
    background: url('https://images.51rz.com/images/pc/zhongfen/zfPic1.png') no-repeat;
    background-size:contain;
}

.fensSayText {
    width: 0.24rem;
    height:1.51rem;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.24rem;
    color: rgba(61, 61, 61, 255);
    text-align: left;
    word-wrap: break-word;
    position: absolute;
    left: 0.41rem;
    top: 0;
}

.voidPeriod {
    width: 0.23rem;
    height: 0.86rem;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.24rem;
    color: rgba(61, 61, 61, 255);
    text-align: left;
    word-wrap: break-word;
    position: absolute;
    left: 0;
    top: 0;
}

.voidPeriod span {
    display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    background: #dc4b4e;
    border-radius: 50%;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 0.26rem;
}

.bike {
    width: 2.48rem;
    height: 1.56rem;
    position: absolute;
    right: 0.51rem;
    top: 4.02rem;
    background: url('https://images.51rz.com/images/pc/zhongfen/bicycle.png');
    background-repeat: no-repeat;
    background-position: 0;
}
.wave{
    width: 1.03rem;
    height: 0.17rem;
    background: url('https://images.51rz.com/images/pc/zhongfen/wave.png');
    position: absolute;
    right: 1px;
    bottom: 0.23rem;
}
.fensThanks {
    width:11.60rem;
    height: 3.1rem;
    background: #f0e6d4;
    margin: 0 auto;
}

.thanksText_pic {
    width: 11.30rem;
    height: 2.8rem;
    background: #dc4b4e;
    margin: 0.13rem 0.15rem 0.17rem;
    position: relative;
}

.thanksText {
    width: 3.91rem;
    height: 2.04rem;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.24rem;
    color: rgba(247, 239, 222, 255);
    text-align: left;
    position: absolute;
    left: 0.49rem;
    top: 0.38rem;
}

.thanksPic {
    width: 6.03rem;
    height: 2.34rem;
    position: absolute;
    top: 0.58rem;
    right: -42px;
    background: url('https://images.51rz.com/images/pc/zhongfen/mountain.png');
}

.fensStory {
    width: 11.69rem;
    height: 12.64rem;
    margin: 0.56rem auto;
    position: relative;
}

.story {
    width: 1.75rem;
    height: 2.42rem;
    position: absolute;
    top: 0;
    left: 0.37rem;
}
.storyCircle{
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    border: 2px solid #dc4b4e;
    position: absolute;
    left:0.03rem;
    top: 2.4rem;
}
.storyTextPc {
    width: 0.56rem;
    height: 2.52rem;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    position: absolute;
    left: 0;
    top: 0;
    background: url('https://images.51rz.com/images/pc/zhongfen/zfPic2.png') no-repeat;
    background-size:contain;
}

.storyfensSayText {
    width: 0.24rem;
    height: 1.51rem;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.24rem;
    color: rgba(61, 61, 61, 255);
    text-align: left;
    word-wrap: break-word;
    position: absolute;
    left:1.03rem;
    top: 0;
}

.storyPeriod {
    width: 0.23rem;
    height: 0.86rem;
    font-family: STZhongsong, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.24rem;
    color: rgba(61, 61, 61, 255);
    text-align: left;
    word-wrap: break-word;
    position: absolute;
    left: 1.4rem;
    top: 0;
}

.storyPeriod span {
    width: 0.26rem;
    height: 0.26rem;
    display: inline-block;
    background: #dc4b4e;
    border-radius: 50%;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 0.26rem;
}

.article {
    width: 8.81rem;
    height: 15.24rem;
    position: absolute;
    top: 0;
    right: 0;
    background:url('https://images.51rz.com/images/pc/zhongfen/left-line.png') no-repeat left top;
}

.articleTitle {
    width: 4.44rem;
    height: 0.51rem;
    position: absolute;
    top: 0.3rem;
    left: 0.51rem;
    font-size: 0.24rem;
    color: rgba(121, 90, 74, 255);
    text-align: center;
}
.articleSubTitle {
    width: 100%;
    height: 0.14rem;
    position: absolute;
    right: -0.4rem;
    top: 0.41rem;
    font-size: 0.14rem;
    color: rgba(121, 90, 74, 255);
    text-align: right;
}

.articleContent {
    position: absolute;
    top: 0.31rem;
    left: 0;
    font-family: PingFang-SC-Regular, PingFang-SC-Regular, AdobeInvisFont, AdobeHeitiStd-Regular;
    font-size: 0.14rem;
    color: rgba(121, 90, 74, 255);
    text-align: justify;
}

.acontentP1 {
    width: 5.06rem;
    height: 7.35rem;
    position: absolute;
    top: 0.8rem;
    left: 0.3rem;
    text-indent: 0.2rem;
    letter-spacing: 0.02rem;
    line-height: 0.24rem;
}
.articlePnote{
    color: #dc4b4e;
}
.acontentP2 {
    width: 8rem;
    height: 5.54rem;
    position: absolute;
    top: 7.86rem;
    left: 0.3rem;
    /* text-indent: 0.2rem; */
    letter-spacing: 0.02rem;
    line-height: 0.24rem;
}

.acontentP2 img{
    width: 1.63rem;
    height: 1.63rem;
    position: absolute;
    right: -0.35rem;
    bottom: 0.8rem;
    background:url('https://images.51rz.com/images/pc/zhongfen/left-line.png') no-repeat;
    -webkit-transform:rotate(180deg);
}

.articleImg1 {
    width: 2.38rem;
    height: 4.2rem;
    position: absolute;
    right: 0.44rem;
    top: 0.3rem;
}

.articleImg2 {
    width: 2.35rem;
    height:3.56rem;
    position: absolute;
    top: 4.82rem;
    right: 0.44rem;
}
.mailPic{
    width: 2.78rem;
    height: 2.84rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* .topcor{
    width:1.86rem;
    height: 1.71rem;
    background: url('./img/topcor.png');
} */
.articleContentH5{
    display: none;
}
.H5mailPic{
    display: none;
}
/* vidoe */
.video-js {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: inherit !important; 
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    word-break: initial;
    top: -430px;
    width: 5rem;
    height: 3.4rem;
    left: 0.65rem;
}
.video-js .vjs-big-play-button{
    font-size: 3em;
    line-height: 1.5em;
    height: 1.5em !important;
    width: 1.5em !important;
    display: block;
    position: absolute;
    top: 2.2em !important;
    left: 3.5em !important;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    background-color: #fff !important;
    background-color:rgba(255,255,255,1) !important;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 10em !important;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .vjs-poster {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-color: none !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}
.vjs-icon-play:before, .video-js .vjs-big-play-button{
    content: "\f101";
    color: #795a4a !important;
    font-size: 0.6rem !important;
}

.video-js:hover .vjs-big-play-button{
  border-color: none !important;
  background-color: none !important;
    background-color: #fff !important;
}

.storyText{
    display:none;
}

.fensVoiceText{
    display:none;
}
